@font-face {
    font-family: "Nanum Gothic";
    font-weight: 400;
    font-weight: normal;
    src: url('/css/fonts/NanumGothic-Regular.woff') format('woff'),
    url('/css/fonts/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Nanum Gothic";
    font-weight: 600;
    font-weight: Bold;
    src: url('/css/fonts/NanumGothic-Bold.woff') format('woff'),
    url('/css/fonts/NanumGothic-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Nanum Gothic";
    font-weight: 900;
    src: url('/css/fonts/NanumGothic-ExtraBold.woff') format('woff'),
    url('/css/fonts/NanumGothic-ExtraBold.ttf') format('truetype');
}
*{font-family: '나눔고딕', "Nanum Gothic", "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", Ngothic, sans-serif; font-size: 20px;}
