@charset "utf-8";
/*reset::start*/
body {margin: 0; padding: 0; font-size: 1em; font-family:'나눔고딕',NanumGothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif; line-height: 1.5; color: #000;}
h1, h2, h3, h4, h5 {margin: 0; padding: 0; font-weight: normal; text-align: left;}
p, span, strong {margin: 0; padding: 0;}
/* a, a:hover, a:active, a:focus, a:visited {text-decoration: none; color: #000;} */
input {margin:0; padding: 0; border: 0; border-radius: 0; vertical-align: middle; }
ul, ol, li {margin: 0; padding: 0; list-style: none;}
img {border: 0; vertical-align: top;}
select {vertical-align: middle;}
textarea {margin: 0; padding: 0; }
/*reset::end*/

/*ezmark::start*/
.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {display:inline-block;}
.ez-radio {display:inline-block;}
.ez-checkbox-green {display:inline-block;*display: inline;}
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; }
/*ezmark::end*/

/*common::start*/
.mainCont .clearBoth:after {display:block; content: ''; clear: both;}
.clearBoth {display: inline-block;}
* html .clearBoth { height: 1%; }
.mainCont .radioBox input {width: 34px; height: 34px;}
.mainCont .radioBox label+.ez-radio {margin-left: 78px;}
.mainCont .radioBox .ez-radio {margin-right: 11px; width: 34px; height: 34px; background: url('/img/shop/icon_radio.png') no-repeat; background-position: -34px 0;}
.mainCont .radioBox .ez-radio.ez-selected {background-position: 0 0;}
.mainCont .btnType_03 {display: inline-block; width: 158px; height: 45px; line-height: 45px; text-align: center; border-radius: 5px; font-size: 18px; font-weight: bold; background-color: #12c9bb; color: #fff;}
.mainCont .btnType_04 {display: inline-block; width: 178px; height: 45px; line-height: 45px; text-align: center; border-radius: 5px; font-size: 18px; font-weight: bold; background-color: #8b8b8b; color: #fff;}
.mainCont .btnType_08 {display: inline-block; width: 130px; height: 36px; font-size: 18px; line-height: 36px; font-weight:bold;  text-align: center; border: 1px solid #12c9bb; border-radius: 3px; background-color: #12c9bb; color: #FFF;}
.mainCont .btnType_05 {display: inline-block; width: 158px; height: 45px; line-height: 45px; text-align: center; border-radius: 5px; font-size: 18px; font-weight: bold; background-color: #8b8b8b; color: #fff;}
.mainCont.letterSend .mgt0 {margin-top: 0 !important;}
.mainCont.letterSend .mgb0 {margin-bottom: 0 !important;}
/*common::end*/

/*ezmark::start*/
.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {display:inline-block;}
.ez-radio {display:inline-block;}
.ez-checkbox-green {display:inline-block;*display: inline;}
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; }
/*ezmark::end*/

.topBox {height: 153px; background: url('/img/shop/sendTopBg.jpg') no-repeat center; background-size: cover; border-top: 2px solid #18c3b5;}
.upgradeBox {height: 50px; text-align:center; border-bottom: 1px solid #f0f0f0;}
.upgradeBox img {margin-top:15px;}
.mainCont.letterSend {margin: 0 auto; width: 984px;}
.mainCont.letterSend .btnArea {margin: 23px 0 5px; text-align: center;}
.mainCont.letterSend .btnType_06 {display: inline-block; padding: 0 14px; height: 36px; font-size: 19.67px; line-height: 36px; background-repeat: no-repeat; background-color: #bdbdbd; border-radius: 3px; color: #fff;}
.mainCont.letterSend .btnType_06.prevBtn{padding-left: 39px; background-image: url('/img/shop/icon_prev.png'); background-position: 14px 8px;}
.mainCont.letterSend .btnType_06.nextBtn{margin-left: 10px; padding-right: 39px; background-image: url('/img/shop/icon_next.png'); background-position: 65px 8px;}
.mainCont.letterSend .btnType_07 {display: inline-block; width: 134px; height: 43px; font-size: 21.97px; line-height: 43px; text-align: center; border: 1px solid #c8c8c8; border-radius: 30px; background-color: #fff;}
.mainCont.letterSend .btnType_07+.btnType_07 {margin-left: 10px;}
.mainCont.letterSend .sendBtn {display: block; margin: 0 auto 60px;}

.mainCont.letterSend .tableType_01 {margin-top:10px; margin-bottom: 20px; width: 100%; border-bottom:2px solid #e2e2e2;}
.mainCont.letterSend .tableType_01 th {padding: 31px 0 23px 54px; width: 181px; font-size: 20px; vertical-align: top; line-height: 25px; color: #373737; text-align:left;}
.mainCont.letterSend .tableType_01 th.item_01 {background: url('/img/shop/icon_send_01.png') no-repeat 0 27px;}
.mainCont.letterSend .tableType_01 th.item_02 {background: url('/img/shop/icon_send_02.png') no-repeat 0 25px;}
.mainCont.letterSend .tableType_01 th.item_03 {background: url('/img/shop/icon_send_03.png') no-repeat 0 25px;}
.mainCont.letterSend .tableType_01 th.item_04 {background: url('/img/shop/icon_send_04.png') no-repeat 0 27px;}
.mainCont.letterSend .tableType_01 th.item_05 {background: url('/img/shop/icon_send_05.png') no-repeat 0 29px;}
.mainCont.letterSend .tableType_01 th.item_06 {background: url('/img/shop/icon_send_06.png') no-repeat 0 30px;}
.mainCont.letterSend .tableType_01 th.item_07 {background: url('/img/shop/icon_send_07.png') no-repeat 0 30px;}
.mainCont.letterSend .tableType_01 th.item_08 {background: url('/img/shop/icon_send_08.png') no-repeat 0 28px;}
.mainCont.letterSend .tableType_01 td {padding: 23px 0; border-bottom: 1px solid #e2e2e2;}
.mainCont.letterSend .tableType_01 td.last {border: 0;}

.mainCont.letterSend .ez-radio {width: 33px; height: 33px; background: url('/img/shop/icon_radio.png') no-repeat; background-position: -33px 0;}
.mainCont.letterSend .ez-radio.ez-selected {background-position: 0 0;}

.mainCont.letterSend input {width: 100%; height: 100%;}
.mainCont.letterSend label {margin: 0 40px 0 5px; height: 33px; line-height: 33px; vertical-align: middle; font-size: 22px; color: #373737;}

.mainCont.letterSend .sendWay .ez-radio{width: 34px; height: 34px; background: url('/img/shop/icon_check_03.png') no-repeat; background-position: -34px 0;}
.mainCont.letterSend .sendWay .ez-radio.ez-selected{width: 34px; height: 34px; background: url('/img/shop/icon_check_03.png') no-repeat; background-position: 0 0;}
.mainCont.letterSend .sendWay .ez-radio + label{margin:0 15px 0 5px; }

.mainCont.letterSend .checkType_01 .ez-checkbox {margin-right: 3px; width: 30px; height: 30px; background: url('/img/shop/icon_check_01.png') no-repeat; background-position: -30px 0;}
.mainCont.letterSend .checkType_01 .ez-checkbox.ez-checked {background-position: 0 0;}
.mainCont.letterSend .checkType_01 span , .mainCont.letterSend .checkType_01 label {padding: 0 6px; font-size: 21.83px; color: #373737;}
.mainCont.letterSend .checkType_01 li {vertical-align:middle; }

.mainCont.letterSend .checkType_02 .ez-checkbox {margin-right: 3px; width: 34px; height: 34px; background: url('/img/shop/icon_check_03.png') no-repeat; background-position: -34px 0;}
.mainCont.letterSend .checkType_02 .ez-checkbox.ez-checked {background-position: 0 0;}
.mainCont.letterSend .checkType_02 span {padding: 0 11px; font-size: 21.83px; color: #373737;}

.mainCont.letterSend .addBtn {display: inline-block; margin: 5px 0 5px 14px; vertical-align: top;}
.mainCont.letterSend .select_01 {padding-left: 10px; width: 314px;  height: 55px; font-size: 22px; line-height: 51px; border: 2px solid #e1e1e1;}

.mainCont.letterSend .sendInfo {margin-top: 25px; font-size: 0; position:relative; }
.mainCont.letterSend .sendInfo input {padding: 0 10px; height: 51px; line-height: 51px; font-size: 22px; border: 2px solid #e1e1e1; background-color: #f7f7f7;}
.mainCont.letterSend .sendInfo .phInput {width: 290px;}
.mainCont.letterSend .sendInfo .nameInput {margin-left: 14px; width: 216px;}
.mainCont.letterSend .sendInfo textarea{width:550px; height:100px; padding:5px 10px; font-size: 18px; border: 2px solid #e1e1e1; background-color: #f7f7f7; resize:none; -webkit-appearance:none; }

.mainCont.letterSend .scrollBox_01 {margin-top: 23px; width: 100%; border: 1px solid #c6c6c6; background-color: #fbfbfb; overflow-y: scroll; overflow-x: hidden;}
.mainCont.letterSend .scrollBox_01.scrollH154 {max-height: 154px;}
.mainCont.letterSend .scrollBox_01.scrollH298 {max-height: 298px;}

.mainCont.letterSend .sendGroup {font-size: 0;}
.mainCont.letterSend .sendGroup .phOrName {margin-left: 14px; padding: 0 10px; width: 216px; height: 51px; line-height: 51px; font-size: 22px; border: 2px solid #e1e1e1; background-color: #f7f7f7;}
.mainCont.letterSend .scrollBox_01 span+span {border-left: 2px solid #d3d3d3;}
.mainCont.letterSend .scrollBox_01 .state {color: #12c9bb;}

.mainCont.letterSend .sendTarget span {font-size: 25px;}
.mainCont.letterSend .sendTarget span.sendNum {margin-right: 10px; font-weight: 600; font-size: 25px; color: #12c9bb;}
.mainCont.letterSend .sendTarget span+a {margin-left: 102px;}
.mainCont.letterSend .sendTarget a+a {margin-left: 10px;}

.mainCont.letterSend .memberList_01 {padding: 12px 25px;}
.mainCont.letterSend .memberList_01 li {margin: 6px 0 12px; font-size: 0;}
.mainCont.letterSend .memberList_01 span.num {border-left: 1px solid #c1c1c1; font-size: 20px; color: #8b8b8b;}
.mainCont.letterSend .memberList_02 li {padding: 9px 25px; font-size: 0;}
.mainCont.letterSend .memberList_02 li+li {border-top: 1px solid #e7e7e7; background-color: #fbfbfb;}
.mainCont.letterSend .memberList_02 span {display: inline-block; text-align: center; font-size: 22px; padding-left:4px; padding-right:4px;}
.mainCont.letterSend .memberList_02 span.ph {display: inline-block; margin-right: 24px; height: 39px; line-height: 37px; text-align: center; border-radius: 30px; border: 1px solid #e0e0e0; background-color: #fff; padding-left:14px; padding-right:14px;}
.mainCont.letterSend .memberList_02 .deleteBtn {display: inline-block; margin-left: 5px; width: 20px; height: 20px; background: url('/img/shop/btn_delete.png') no-repeat; vertical-align: middle;}

.mainCont.letterSend .sendHeart span {font-size: 22.26px;}
.mainCont.letterSend .sendHeart span.todayHeart {display: inline-block; width: 168px;}
.mainCont.letterSend .sendHeart span.totalHeart {display: inline-block; width: 168px; font-size:20px; letter-spacing: -2px; }
.mainCont.letterSend .sendHeart span.num{font-size: 24px;}
.mainCont.letterSend .sendHeart span.totalHeart+.num {color: #18c3b5;}
.mainCont.letterSend .sendHeart span.num+.btnType_03 {margin-left: 30px;}

.mainCont.letterSend .specialLetter {position: absolute; right: 21px; top: 0;}
.mainCont.letterSend .specialLetter .specialIcon {position: absolute; left: 27px; top: 0; z-index: 1099;}

.icon-area2 p{font-size:16px; font-weight:600; color:#1b9081; }
.icon-area2 p span{font-size:14px; margin-right:10px; }
.icon-area2 p:last-child{padding:10px; }
.icon-area2 p:last-child span{font-size:20px; float:left; height:50px; line-height:50px; }
.mainCont.letterSend .specialLetter .specialIcon_01,
.specialIcon_02{padding:10px; }
.mainCont.letterSend .specialLetter .specialIcon_01 a{display: inline-block; width:29px; font-size:18px; text-align:center; line-height:1.7em; color:#777; text-decoration:none; }
.mainCont.letterSend .specialLetter .specialIcon_01 div,
.specialIcon_02 div{border-top:1px solid #ccc; }
.mainCont.letterSend .specialLetter .specialIcon_01 div:last-child,
.specialIcon_02 div:last-child{border-bottom:1px solid #ccc; }

.mainCont.letterSend .specialLetter .specialIcon_02 a{display: inline-block; width:125px; padding:5px 0; font-size:18px; text-align:center; line-height:1.7em; color:#777; text-decoration:none; }
.mainCont.letterSend .specialLetter .specialIcon_02 a.w61 {width: 61px;}
.mainCont.letterSend .specialLetter .specialIcon_02 a.w59 {width: 59px;}
.mainCont.letterSend .specialLetter .specialIcon_02 a.w57 {width: 57px;}
.mainCont.letterSend .specialLetter .specialIcon_02 a.w63 {width: 63px;}
.mainCont.letterSend .specialLetter .specialIcon_02 a.w60 {width: 60px;}
.mainCont.letterSend .specialLetter .specialIcon_02 a.w58 {width: 58px;}
.mainCont.letterSend .specialLetter .specialIcon_02 a.w66 {width: 66px;}
.mainCont.letterSend .specialLetter .specialIcon_02 a.w56 {width: 56px;}
.mainCont.letterSend .specialLetter .specialIcon_02 a.w60 {width: 60px;}
.mainCont.letterSend .specialLetter .specialIcon_02 a.h33 {height: 33px;}
.mainCont.letterSend .smsWrite{margin-bottom: 10px;}
.mainCont.letterSend .smsWrite .leftBox {position: relative; float: left; width: 382px; z-index: 100;}
.mainCont.letterSend .smsWrite .rightBox {float: right; position: relative; margin-left: 25px;}
.mainCont.letterSend .smsWrite .rightBox .msgArea{padding: 10px; }
.mainCont.letterSend .smsWrite .rightBox .msgArea p{font-size: 18px; color: #373737; white-space: pre-wrap; word-break: break-all;}
.mainCont.letterSend .smsWrite .rightBox textarea { clear: both; float: left; border: none; width: 268px; min-height:435px; background: transparent; display: block; padding: 10px; font-size: 18px; color: #373737; resize: none; overflow: hidden; }
.mainCont.letterSend .smsWrite .rightBox pre{width:268px; background: transparent; display: block; font-size: 18px; color: #373737; white-space: pre-wrap; word-wrap: break-word; }
.mainCont.letterSend .pType_01 {padding-left: 46px; height: 35px; font-size: 22px; line-height: 33px; color: #8b8b8b; background: url('/img/shop/icon_question_01.png') no-repeat;}
.mainCont.letterSend .pType_01 .point_01 {font-size: 22px; color: #18c3b5;}
.mainCont.letterSend .pType_02 {margin-top: 3px; margin-bottom: 20px; font-size: 20px; color: #8b8b8b;}
.mainCont.letterSend .subjectArea{display:none; width:335px; }
.mainCont.letterSend .subjectArea input[type="text"]{padding: 10px; box-sizing: border-box; }
.mainCont.letterSend .smsTextWrite {position: relative; margin-top: 20px; margin-bottom: 20px;}
.mainCont.letterSend .smsTextWrite .textareaView {width: 330px; height: 389px; border: 2px solid #e1e1e1; background-color: #f7f7f7; position:relative; }
.mainCont.letterSend .smsTextWrite textarea{width: 294px; padding: 13px 18px; height: 363px; border: 0; font-size: 22px; resize: none;background-color: #f7f7f7;}
.mainCont.letterSend .smsTextWrite .byte {display: inline-block; width: 100%; font-size: 20px; text-align: right; color: #8b8b8b;}
.mainCont.letterSend .smsTextWrite .msgSubArea{display:none; margin:10px 0; }
.mainCont.letterSend .smsTextWrite .msgSubArea h3{width:335px; padding:10px 0; font-weight:600; color:#666; text-align:center; background:#e1e1e1; }
.mainCont.letterSend .smsTextWrite .msgSubArea h5{display:table-cell; width:90px; font-weight:600; color:#666; text-align:center; background:#e1e1e1; vertical-align: middle; }
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset{display:table-cell; width:230px; padding-left:10px; }
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset select{width:100%; height:50px; padding:0 15px; font-size:20px; border:2px solid #e1e1e1; box-sizing: border-box; }
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset div{display:none; position:relative; }
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset select + div{margin-top:5px; }
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset div input[type="text"]{height:50px; padding:0 15px; font-size:20px; box-sizing: border-box; }
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset div img,
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset div label{position:absolute; }
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset div img{right:5px; bottom:15px; }
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset div label{margin:0; font-size:13px; color:#f84c4c; left:0; bottom:-25px; }
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset div input[type="text"] ~ img,
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset div input[type="text"] ~ label{display:none; }
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset div input[type="text"].error ~ img,
.mainCont.letterSend .smsTextWrite .msgSubArea fieldset div input[type="text"].error ~ label{display:block; }
.mainCont.letterSend .smsWrite .smsWriteBtn {font-size: 0; line-height: 0;}
.mainCont.letterSend .smsWrite .smsWriteBtn a {vertical-align: middle;}
.mainCont.letterSend .smsWrite .smsWriteBtn a+a{margin-left: 15px;}
.mainCont.letterSend .smsWrite .smsWriteBtn .question {display: inline-block; margin-top: 3px; width: 33px; height: 33px; background: url('/img/shop/icon_question_02.png') no-repeat;}
.mainCont.letterSend .smsWrite .phSmsView {position: absolute; left: 19px; top: 73px; padding:0; width: 290px; height: 455px; font-size: 20px; line-height: 28px; overflow-y: auto; overflow-x: hidden;}
.mainCont.letterSend .smsWrite .phSmsViewByte {position: absolute; right: 20px; bottom: 82px; font-size: 20px; text-align: right; color: #8b8b8b;}
.mainCont.letterSend .sendPh span {margin-right: 30px; font-size: 22.26px;}

.mainCont.letterSend .boxType_01 {padding: 21px 26px; font-size: 0; border: 1px solid #cecece; background-color: #f0f0f0;}
.mainCont.letterSend .boxType_01 .noticeBox {margin-top: 22px;}

.mainCont.letterSend .noticeBox {margin-top: 30px; padding-left: 55px; font-size: 20px; background: url('/img/shop/icon_notice.png') no-repeat; background-position: 0 10px; color: #8b8b8b;}
.mainCont.letterSend .noticeBox_02 {margin-bottom: 50px; padding: 30px 45px; border: 1px solid #d1d1d1;}
.mainCont.letterSend .noticeBox_02 p {font-size: 20px; letter-spacing: -2.5px; color: #373737;}
.mainCont.letterSend .noticeBox_02 p.pType_04 {margin-bottom: 15px;padding-left: 33px; font-weight: 600; background-repeat: no-repeat;}
.mainCont.letterSend .noticeBox_02 p.icon09 {background-image: url('/img/shop/icon_send_09.png');}
.mainCont.letterSend .noticeBox_02 p.icon10 {background-image: url('/img/shop/icon_send_10.png'); background-position: 0 5px;}
.mainCont.letterSend .noticeBox_02 .pType_06+p {margin-top: 30px;}
.mainCont.letterSend .w580 { float:left; padding-left:10px; width: 530px; font-size:18px; color:#8b8b8b; }
.mainCont.letterSend .noticeBox_01 { margin-top: 10px; padding-left: 45px; line-height:50px; font-size: 20px; background: url('/img/shop/icon_notice.png') no-repeat; background-position: 0 10px; color: #8b8b8b; }
.mainCont.letterSend .noticeBox_01 .cblue { color:#2C4BFF; text-decoration: underline; }

#cntBtnArea { display:inline-block; padding:10px 0 0 26px; height:16px; }
#nextBtnArea { padding:4px 0 0 0;}
.opc { opacity:0; }
.hdn1 { border:0; margin:0; padding:0; width:1px; height:0; }
#otsendDiv { left:auto; }
#otsendDiv li {padding:3px 0;}
#send_noti_msg3 {clear:both; position:relative;}
#send_noti_msg3 .infobox { height: 39px; width:400px; margin:0 auto; margin-bottom:30px; line-height: 32px; text-align: center; border-radius: 30px; border: 1px solid #e0e0e0; background-color: #fff; padding-left: 14px; padding-right: 14px; color:#13c9bc; font-weight:bold; font-size:0.9em; }
#send_noti_msg3 .infobox img {vertical-align:middle;margin: auto; margin-right:6px;}
.send_no_btn1 {font-weight:bold; padding:16px 50px; margin:4px auto; border:3px solid #13c9bc;}
.send_no_btn2 {font-weight:bold; padding:16px 50px; margin:4px auto; color:#13c9bc; border:3px solid #13c9bc; background-color:#FFF;}
.mask_pop { position: absolute; width: 100%; height: 100%; top:0; left:0; background: url('/img/login/mask.png'); z-index:150;  min-height: 2500px; display: none;}
#pop_info_mms {position:fixed; z-index:600 !important;}
#pop_info_080, #pop_info_shoptitle {position:fixed; z-index:700 !important; max-height:480px; overflow-y:scroll;}
#pop_info_test {position:absolute; z-index:500 !important; margin-top:5px;}
.pop_delete {position:absolute; right:10px; top:10px; z-index:800 !important;}
#testBoxInput , .info_box_user , #testBoxInfo , #timeInfo  { left:auto; margin-left:0px !important; }

.specialLetter > a{display:block; }
.specialLetter > a:nth-child(2){margin-top:10px; }

.specialIcon{border:1px solid #a5a5a5; }
.specialIcon .tab-btn{width:560px; height:65px; text-align:center; background:#fff; position:relative; }
.specialIcon .tab-btn input[type="button"]{width:150px; height:40px; background:#f9f9f9; border:1px solid #a5a5a5; border-bottom:1px solid #ccc; color:#898989; font-size:15px; position:absolute; bottom:-1px; z-index:10; }
.specialIcon .tab-btn input#save{left:20px; }
.specialIcon .tab-btn input#special{left:180px; }
.specialIcon .tab-btn input#example{left:340px; }
.specialIcon .tab-btn input[type="button"]:focus{outline:none; }
.specialIcon .tab-btn .active:first-child{border-right:1px solid #ccc; }
.specialIcon .tab-btn .active[value="특수문자"]{border-right:1px solid #ccc; border-left:1px solid #ccc; }
.specialIcon .tab-btn .active[value="문자예제"]{border-left:1px solid #ccc; }
.specialIcon .tab-btn input[class="active"]{background:#fff; color:#4c6cfb; font-weight:600; border-top:2px solid #4c6cfb; border-bottom:1px solid #fff; }
.specialIcon .tab-btn:after{content:""; display:block; clear:both; visibility:hidden; }

.specialIcon .icon-area1, .specialIcon .icon-area2,
.specialIcon .icon-area3{width:559px; height:375px; overflow-y:scroll; background:#fff; border-top:1px solid #ccc; }
.specialIcon .icon-area1 > div div p,
.specialIcon .icon-area3 #icon-area3-content p {width:158px; height:104px; background:#fbfbfb; border:1px solid #8b8b8b; font-size:14px; font-weight:600; line-height:1.3em; padding:5px; box-sizing:border-box; white-space:pre-line; margin:17px auto 0; font-family: monospace; word-break: break-all;}

.specialIcon .icon-area1 > div,
.specialIcon .icon-area3 div{margin:10px 5px 0; }

.specialIcon .icon-area1 > div:first-child{margin:20px 0 0 10px; }
.specialIcon .icon-area1 div input[type="button"]{width:90px; height:30px; border:1px solid #8b8b8b; border-radius:3px; font-size:14px; display:inline-block; .display:inline; }
.specialIcon .icon-area1 div input[value="전체선택"]{color:#8b8b8b; background:#fff; }
.specialIcon .icon-area1 div input[value="삭제"]{color:#fff; background:url(/img/shop/ic_del.png) 20px center no-repeat, #8b8b8b; box-sizing:border-box; padding-left:15px; zoom:1; *padding:0; *background:#8b8b8b; }
.specialIcon .icon-area1 > div > div{display:inline-block; vertical-align:top; padding:5px 3px; box-sizing: border-box; }
.specialIcon .icon-area1 > div > div input[type="text"]{width: 140px; height: 23px; padding: 0 5px; font-size: 12px; box-sizing: border-box; vertical-align: middle; }
.specialIcon .icon-area1 > #icon-area1-content > div div,
.specialIcon .icon-area3 > #icon-area3-content > div div{padding:5px; border:1px solid #ccc; background:url(/img/shop/icon_wifi.png) 9px 5px no-repeat; box-sizing: border-box;}
.specialIcon .icon-area1 > div div input[type="checkbox"]{display:none; }
.specialIcon .icon-area1 > div div input + label{margin:0; line-height:1em; cursor:pointer; }
.specialIcon .icon-area1 > div div input + label:before{content:'\2714'; display:inline-block; width:20px; height:20px; margin-right:5px; font-size:16px; background-color:#f6f6f6; color:#ddd; border:1px solid #ccc; text-align:center; }
.specialIcon .icon-area1 > div div input + label + h3{width: 120px; margin-top: 4px; padding: 0 5px; float: right; border: 1px solid #ccc; font-size: 15px; background: #fbfbfb; overflow: hidden; text-overflow: ellipsis;}
.specialIcon .icon-area1 > div div input:checked + label:before{color:#fff; box-shadow:none; background:#18c3b5; }
*+html body .specialIcon .icon-area1 > div div input{width:15px; height:15px; display:block; }
*+html body .specialIcon .icon-area1 > div div input + label{display:none;}

.specialIcon .icon-area3{display:none; }
.specialIcon .icon-area3 .ex-selector{position:relative; display:inline-block; }
.specialIcon .icon-area3 .ex-selector select{padding:10px 7px; border:1px solid #d4d4d4; border-radius:3px; font-size:14px; color:#606060; }

.specialIcon .icon-area3 > div div{width:170px; display:inline-block; margin:1px; vertical-align:top; padding:5px; zoom:1; *display:inline; box-sizing: border-box}
.specialIcon .icon-area3 #icon-area3-content p{display:inline-block; vertical-align:top; zoom:1; *display:inline;overflow:auto; }
.specialIcon .icon-area2{position:relative; display:none; }
.specialIcon .tab-btn button:focus{outline:none; }

.xanitus_select {float:left; font-size:16px; margin:10px 15px 0 15px; font-weight:600; cursor:pointer;}
.bg-wifi {border:1px solid #ccc; background:url('/img/shop/icon_wifi.png') 9px 5px no-repeat; }
.xanitus_textarea {
        width: 158px;
    height: 104px;
    background: #fbfbfb;
    border: 1px solid #8b8b8b;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 5px;
    box-sizing: border-box;
    white-space: pre-line;
    margin: 17px auto 0;
}
.writeNotice{display: none; position: relative; }
.writeNotice p:first-child{font-size:17px; color:#ff4b4b; font-weight:400; margin-top:10px; }
.writeNotice p:first-child button{padding:3px 5px; margin-left:35px; background: #8b8b8b; border:1px solid #8b8b8b; border-radius: 20px; color:#fff; font-weight:600; }
.writeNotice .writeNotice-info{display:none; position: absolute; width:610px; padding:35px 35px; font-size:16px; font-weight: 400; color:#8b8b8b; border:1px solid #cecece; border-radius: 20px; background:#fff; box-shadow: 0 0 25px rgba(0,0,0,0.3); letter-spacing:1px; line-height:1.5; z-index:100;
zoom: 1;
filter: progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=0),
        progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=90),
        progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=180),
        progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=15, Direction=270); }

.writeNoticeClose{width:18px; height:18px; position:absolute; top:20px; right:19px; background:url(/img/shop/ic_popup_close_btn.png); background-position:center center; background-repeat: no-repeat; cursor: pointer; }

/* fake placeholder */
.phoneNamePlaceholder{width:480px; }
.msg_input_placeholder{width:300px; }

.send-block{display:none; width:980px; margin:0 auto; }
.send-block h2{margin-bottom:20px; padding:50px 0 30px; font-size:24px; color:#333; font-weight:600; border-bottom:1px solid #d8d8d8; }
.send-block h2 img{margin-right:10px; }
.send-block h2 + div{display:inline-block; width:550px; margin-right:20px; }
.send-block h2 + div p{font-size:18px; line-height:1.5em; color:#333; }
.send-block h2 + div em{display:block; font-size:18px; line-height:1.5em; font-weight:600; }
.send-block h2 + div span{display:block; font-size:18px; line-height:2em; color:#f84c4c; font-weight:600; }
.send-block h2 + div small{color:#f84c4c; font-size:18px; font-weight:600; }
.send-block h2 + div button{width:240px; height:50px; margin:30px 0 20px; border:2px solid #f84c4c; border-radius: 4px; background:#f84c4c; font-size:18px; color:#fff; }
.send-block h2 + div div{margin-top:20px; padding:15px 20px; border:1px solid #ddd; }
.send-block h2 + div div h3{line-height:34px; color:#333; font-weight:600; }
.send-block h2 + div div h4{line-height:1.5em; color:#333; font-size:18px; font-weight:600; }
.send-block h2 + div div ul{margin-top:5px; }
.send-block h2 + div div ul li{font-size:16px; line-height:34px; color:#333; }
.send-block h2 + div fieldset{margin-top:20px; }
.send-block h2 + div fieldset input[type="checkbox"]{display:none; }
.send-block h2 + div fieldset label{font-size:18px !important; font-weight:600; }
.send-block h2 + div fieldset label:before{content: ''; display:inline-block; width: 34px; height: 34px; margin-right:10px; background: url(/img/shop/icon_check_03.png) no-repeat; background-position: -34px 0; vertical-align: middle; }
.send-block h2 + div fieldset input.active + label:before{background: url(/img/shop/checkbox-on-red.png) no-repeat; background-position: 0px 0; }
.send-block h2 + div + div{display:inline-block; width:400px; vertical-align: top; }
.send-block h2 + div + div fieldset h3{display:inline-block; max-width: 250px; line-height:34px; color:#333; font-weight:600; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.send-block h2 + div + div fieldset h3 span{display:none; }
.send-block h2 + div + div fieldset:first-child button{float:right; width:140px; height:46px; margin-bottom:10px; background:#8b8b8b; border:none; border-radius: 4px; font-size:18px; color:#fff; }
.send-block h2 + div + div > div{padding:15px 20px; border:2px solid #e1e1e1; background: #f7f7f7; }
.send-block h2 + div + div div + div > div{margin-top:20px; }
.send-block h2 + div + div div div{height:415px; overflow-y: auto; }
.send-block h2 + div + div div div img{display:none; max-width:100%; }
.send-block h2 + div + div div div pre{word-break: break-all; white-space: pre-wrap; }
.send-block h2 + div + div div p{height:30px; padding-top:15px; border-top:1px solid #d8d8d8; }
.send-block h2 + div + div div p span{display:none; font-size:18px; }
.send-block h2 + div + div div + fieldset{margin-top:30px; text-align: center; }
.send-block h2 + div + div div + fieldset h4{font-weight:600; text-align: center; }
.send-block h2 + div + div div + fieldset button{width:240px; height:50px; margin-top:15px; border:none; border-radius: 4px; background:#00c6b5; font-size:18px; color:#fff; }
.send-block h2 + div + div div + fieldset button.disabled{background:#ccc; cursor: default; }
