<!DOCTYPE html>
<html lang="en">

<head>
 {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>아파트 공지 웹</title>

    <!-- Custom fonts for this template -->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}"  rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
     <link href="{% static "css/sb-admin-2.min.css" %}"  rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href={% static "vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-notice-tab" data-toggle="tab" href="#nav-notice" role="tab" aria-controls="nav-notice" aria-selected="true">공지</a>
						<a class="nav-item nav-link" id="nav-generation-tab" data-toggle="tab" href="#nav-generation" role="tab" aria-controls="nav-generation" aria-selected="false">세대</a>
					</div>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item">
                            <a href="../createNotice" class="btn btn-primary btn-icon-split">
								<span class="icon text-white-50">
									<i class="fas fa-flag"></i>
								</span>
								<span class="text">공지 등록</span>
							</a>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Tab Content -->

				<div class="tab-content" id="nav-tabContent">
					<!--  Notice Tab Content -->
					<form action="{% url 'sms:createNotice' %}" method="post">
					<div class="container-fluid tab-pane fade show active" id="nav-notice" role="tabpanel" aria-labelledby="nav-notice-tab">
						<div class="row">
							<!-- 수신 현황 -->
							<div>

								<div class="card shadow mb-4">
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">수신 그룹 선택</h6>
									</div>
									<div class="card-body bg-gradient-primary">
										<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

											<!-- Divider -->
											<hr class="sidebar-divider my-0">

											<!-- Nav Item - Dashboard -->
											<li class="nav-item">
												<div class="input-group">
													<select class="custom-select" name="group" id ="group">

														<option value="전체">전체</option>
													{% for i in group %}

														<option value={{i}}>{{i}}</option>
													{% endfor %}
													</select>
												</div>
											</li>

											<!-- Divider -->
											<hr class="sidebar-divider">
											
											<!-- Heading -->
											<div class="sidebar-heading">
												1단지
											</div>

											<!-- 101동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_101"
													aria-expanded="true" aria-controls="collapse_dong_101">
													<i class="fas fa-fw fa-folder"></i>
													<span>101동</span>													
												</a>
												<div id="collapse_dong_101" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">101동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>
											
											<!-- 102동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_102"
													aria-expanded="true" aria-controls="collapse_dong_102">
													<i class="fas fa-fw fa-folder"></i>
													<span>102동</span>
												</a>
												<div id="collapse_dong_102" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">102동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>
											
											<!-- 103동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_103"
													aria-expanded="true" aria-controls="collapse_dong_103">
													<i class="fas fa-fw fa-folder"></i>
													<span>103동</span>
												</a>
												<div id="collapse_dong_103" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">103동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>

											<!-- Divider -->
											<hr class="sidebar-divider">

											<!-- Heading -->
											<div class="sidebar-heading">
												2단지
											</div>

											<!-- 201동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_201"
													aria-expanded="true" aria-controls="collapse_dong_201">
													<i class="fas fa-fw fa-folder"></i>
													<span>201동</span>
												</a>
												<div id="collapse_dong_201" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">201동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>
											
											<!-- 202동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_202"
													aria-expanded="true" aria-controls="collapse_dong_202">
													<i class="fas fa-fw fa-folder"></i>
													<span>202동</span>
												</a>
												<div id="collapse_dong_202" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">202동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>
											
											<!-- Divider -->
											<hr class="sidebar-divider">
											
											<!-- Heading -->
											<div class="sidebar-heading">
												3단지
											</div>

											<!-- 301동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_301"
													aria-expanded="true" aria-controls="collapse_dong_301">
													<i class="fas fa-fw fa-folder"></i>
													<span>301동</span>
												</a>
												<div id="collapse_dong_301" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">301동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>
											
											<!-- Divider -->
											<hr class="sidebar-divider">

										</ul>
									</div>
								</div>
							</div>
							<!-- End of Tree -->
							<!-- Generation List -->

								{% csrf_token %}
							<div class="col">
								<div class="card shadow mb-4">
									<div class="card-header py-3">
										<input type="text" id="notice_title"  name="notice_title" value="{{ notice_title }}" class="form-control" placeholder="제목을 입력해주세요.">
									</div>
									<div class="card-body">
										<div class="mb-4">
											<input type="text" id="notice_text"  value="{{ notice_text }}"  class="form-control" placeholder="내용을 입력해주세요." rows="5"></textarea>
										</div>
										<div class="row mb-4 text-center">
											<div class="col">
												<img width="450" height="450" class="bg-login-image"/>
											</div>
											<div class="col">
												<img width="450" height="450" class="bg-register-image"/>
											</div>
										</div>
										<div class="text-right">
											<form>
												<span class="btn btn-secondary btn-icon-split" onclick="document.getElementById('imgBtn').click();">
													<span class="icon text-white-50">
														<i class="fas fa-fw fa-chart-area"></i>
													</span>
													<span class="text">사진 첨부하기</span>
													<input type="file" style="display:none" id="imgBtn">
												</span>

										</div>
									</div>
									<div class="card-footer py-3">
										<div class="row">
											<div class="col text-left">
												<a href="index.html" class="btn btn-outline-secondary btn-icon-split">
													<span class="icon text-gray-600">
														<i class="fas fa-arrow-right"></i>
													</span>
													<span class="text">이전 페이지</span>
												</a>
											</div>
											<div class="col text-right">
												<a href="#" class="btn btn-info btn-icon-split">
													<span class="icon text-wight-600">
														<i class="fas fa-flag"></i>
													</span>
<!--													<span class="text">공지 발송</span>-->
													<input type="submit" value="공지 발송">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
					</form>

					<!--  End of Notice Tab Content -->
					<!--  Generation Tab Content -->
					<div class="container-fluid tab-pane fade" id="nav-generation" role="tabpanel" aria-labelledby="nav-generation-tab">
						<div class="row">
							<div>
								<!-- Tree -->
								<div class="card shadow mb-4">
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">그룹별 보기</h6>
									</div>
									<div class="card-body bg-gradient-primary">
										<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

											<!-- Divider -->
											<hr class="sidebar-divider my-0">

											<!-- Nav Item - Dashboard -->
											<li class="nav-item">
												<div class="input-group">
													<select class="custom-select">
														<option selected value="0">전체</option>
													</select>
												</div>
											</li>

											<!-- Divider -->
											<hr class="sidebar-divider">
											
											<!-- Heading -->
											<div class="sidebar-heading">
												1단지
											</div>

											<!-- 101동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_101"
													aria-expanded="true" aria-controls="collapse_dong_101">
													<i class="fas fa-fw fa-folder"></i>
													<span>101동</span>
												</a>
												<div id="collapse_dong_101" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">101동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>
											
											<!-- 102동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_102"
													aria-expanded="true" aria-controls="collapse_dong_102">
													<i class="fas fa-fw fa-folder"></i>
													<span>102동</span>
												</a>
												<div id="collapse_dong_102" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">102동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>
											
											<!-- 103동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_103"
													aria-expanded="true" aria-controls="collapse_dong_103">
													<i class="fas fa-fw fa-folder"></i>
													<span>103동</span>
												</a>
												<div id="collapse_dong_103" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">103동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>

											<!-- Divider -->
											<hr class="sidebar-divider">

											<!-- Heading -->
											<div class="sidebar-heading">
												2단지
											</div>

											<!-- 201동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_201"
													aria-expanded="true" aria-controls="collapse_dong_201">
													<i class="fas fa-fw fa-folder"></i>
													<span>201동</span>
												</a>
												<div id="collapse_dong_201" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">201동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>
											
											<!-- 202동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_202"
													aria-expanded="true" aria-controls="collapse_dong_202">
													<i class="fas fa-fw fa-folder"></i>
													<span>202동</span>
												</a>
												<div id="collapse_dong_202" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">202동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>
											
											<!-- Divider -->
											<hr class="sidebar-divider">
											
											<!-- Heading -->
											<div class="sidebar-heading">
												3단지
											</div>

											<!-- 301동 -->
											<li class="nav-item">
												<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_dong_301"
													aria-expanded="true" aria-controls="collapse_dong_301">
													<i class="fas fa-fw fa-folder"></i>
													<span>301동</span>
												</a>
												<div id="collapse_dong_301" class="collapse" data-parent="#accordionSidebar">
													<div class="bg-white py-2 collapse-inner rounded">
														<h6 class="collapse-header">301동</h6>
														<a class="collapse-item" href="#">101호</a>
														<a class="collapse-item" href="#">102호</a>
														<a class="collapse-item" href="#">103호</a>
														<a class="collapse-item" href="#">104호</a>
													</div>
												</div>
											</li>
											
											<!-- Divider -->
											<hr class="sidebar-divider">

										</ul>
									</div>
								</div>
							</div>
							<!-- End of Tree -->
							<!-- Generation List -->
							<div class="col">
								<div class="card shadow mb-4">
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">세대 목록</h6>
									</div>
									<div class="card-body">
										<!-- Input Area -->
										<div class="row mb-3">
											<div class="col">
												<form>
													<span class="btn btn-secondary btn-icon-split" onclick="document.getElementById('excelBtn').click();">
														<span class="icon text-white-50">
															<i class="fas fa-fw fa-table"></i>
														</span>
														<span class="text">엑셀 업로드</span>
														<input type="file" style="display:none" id="excelBtn">
													</span>
												</form>
											</div>
											<div class="col">
												<div class="input-group">
													<div class="input-group-prepend">
														<select class="custom-select">
															<option selected value="0">동</option>
															<option value="1">호수</option>
															<option value="2">세대주명</option>
															<option value="3">연락처</option>
														</select>
													</div>
													<input type="text" class="form-control">
													<div class="input-group-append">
														<button class="btn btn-outline-secondary" type="button">검색</button>
													</div>
												</div>
											</div>
										</div>
										<!-- End of Input Area -->
									
										<div class="table-responsive">
											<table class="table table-bordered" id="generationTable" width="100%" cellspacing="0">
												<colgroup>
													<col/>
													<col/>
													<col/>
													<col/>
													<col width="125px"/>
												</colgroup>
												<thead>
													<tr>
														<th>동</th>
														<th>호수</th>
														<th>세대주명</th>
														<th>연락처</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>101동</td>
														<td>101호</td>
														<td>홍길동</td>
														<td>010-1234-5678</td>
														<td>
															<a href="#" class="btn btn-warning btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-exclamation-triangle"></i>
																</span>
																<span class="text">편집</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>101동</td>
														<td>102호</td>
														<td>홍길동</td>
														<td>010-1234-5678</td>
														<td>
															<a href="#" class="btn btn-warning btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-exclamation-triangle"></i>
																</span>
																<span class="text">편집</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>101동</td>
														<td>103호</td>
														<td>홍길동</td>
														<td>010-1234-5678</td>
														<td>
															<a href="#" class="btn btn-warning btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-exclamation-triangle"></i>
																</span>
																<span class="text">편집</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>101동</td>
														<td>104호</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="세대주명을 입력하세요." value="">
														</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="연락처를 입력하세요." value="">
														</td>
														<td>
															<a href="#" class="btn btn-success btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-check"></i>
																</span>
																<span class="text">저장</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>101동</td>
														<td>105호</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="세대주명을 입력하세요." value="홍길동">
														</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="연락처 입력하세요." value="010-1234-5678">
														</td>
														<td>
															<a href="#" class="btn btn-success btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-check"></i>
																</span>
																<span class="text">저장</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>102동</td>
														<td>101호</td>
														<td>홍길동</td>
														<td>010-1234-5678</td>
														<td>
															<a href="#" class="btn btn-warning btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-exclamation-triangle"></i>
																</span>
																<span class="text">편집</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>102동</td>
														<td>102호</td>
														<td>홍길동</td>
														<td>010-1234-5678</td>
														<td>
															<a href="#" class="btn btn-warning btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-exclamation-triangle"></i>
																</span>
																<span class="text">편집</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>102동</td>
														<td>103호</td>
														<td>홍길동</td>
														<td>010-1234-5678</td>
														<td>
															<a href="#" class="btn btn-warning btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-exclamation-triangle"></i>
																</span>
																<span class="text">편집</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>102동</td>
														<td>104호</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="세대주명을 입력하세요." value="">
														</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="연락처를 입력하세요." value="">
														</td>
														<td>
															<a href="#" class="btn btn-success btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-check"></i>
																</span>
																<span class="text">저장</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>102동</td>
														<td>105호</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="세대주명을 입력하세요." value="홍길동">
														</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="연락처 입력하세요." value="010-1234-5678">
														</td>
														<td>
															<a href="#" class="btn btn-success btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-check"></i>
																</span>
																<span class="text">저장</span>
															</a>
														</td>
													</tr>
													
													<tr>
														<td>201동</td>
														<td>101호</td>
														<td>홍길동</td>
														<td>010-1234-5678</td>
														<td>
															<a href="#" class="btn btn-warning btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-exclamation-triangle"></i>
																</span>
																<span class="text">편집</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>201동</td>
														<td>102호</td>
														<td>홍길동</td>
														<td>010-1234-5678</td>
														<td>
															<a href="#" class="btn btn-warning btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-exclamation-triangle"></i>
																</span>
																<span class="text">편집</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>201동</td>
														<td>103호</td>
														<td>홍길동</td>
														<td>010-1234-5678</td>
														<td>
															<a href="#" class="btn btn-warning btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-exclamation-triangle"></i>
																</span>
																<span class="text">편집</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>201동</td>
														<td>104호</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="세대주명을 입력하세요." value="">
														</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="연락처를 입력하세요." value="">
														</td>
														<td>
															<a href="#" class="btn btn-success btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-check"></i>
																</span>
																<span class="text">저장</span>
															</a>
														</td>
													</tr>
													<tr>
														<td>201동</td>
														<td>105호</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="세대주명을 입력하세요." value="홍길동">
														</td>
														<td>
															<input type="text" class="form-control" id="" placeholder="연락처 입력하세요." value="010-1234-5678">
														</td>
														<td>
															<a href="#" class="btn btn-success btn-icon-split">
																<span class="icon text-white-50">
																	<i class="fas fa-check"></i>
																</span>
																<span class="text">저장</span>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--  End of Generation Tab Content -->
				</div>
				<!-- End of Tab Content -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->


    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src= "{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static "js/sb-admin-2.min.js" %}"></script>

    <!-- Page level plugins -->

    <script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static "js/demo/datatables-demo.js" %}"></script>

</body>

</html>