<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<!--<h1>{{ question.question_text }}</h1>-->
<!--<ul>-->
<!--{% for choice in question.choice_set.all %}-->
<!--&lt;!&ndash;    question에 대해 외래키를 갇고있는 초이스를 모두 가져와라&ndash;&gt;-->
<!--&lt;!&ndash;<ol>태그는 ordered list의 약자로, 숫자나 알파벳 등 순서가 있는 목록을 만드는 데 사용합니다-->
<!--<ul>태그는 unordered list의 약자로, 순서가 필요 없는 목록을 만듭니다-->
<!--<dl>태그는 definition list의 약자로, 사전처럼 용어를 설명하는 목록을 만듭니다.-->
<!--<ol>과 <ul>의 각 항목들을 나열할 때는 <li> 태그를 사용하는데 list item의 약자입니다.&ndash;&gt;-->

<!--    <li>{{ choice.choice_text }}</li>-->
<!--{% endfor %} &lt;!&ndash; 말 그대로 endfor for 문 끝나는 지점 알려주기&ndash;&gt;-->



    <h1>{{ question.question_text }}</h1>
        part4
<a href="https://blog.outsider.ne.kr/312"> post와 get의 차이 </a> <br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!--에러 메시지를 전달받으면 에러 메시지를 보여준다-->

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}  csfr토큰을 사용하여 CSRF 공격 기법을 우회할수있음 사이트간 위조 변조를 막기위함
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
<!--    input 태그는 사용자가 무언가를 입력할 수 있게 하는 태그-->
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>

{% endfor %}
<input type="submit" value="Vote">
</form>

</ul>
</body>
</html>