<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<!--파이썬 사용하기 위해선 중괄호{}안에 적어야함 변수 출력 할꺼면 {}하나더 적어야함-->
<!--<a href="https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#ref-templates-builtins-tags"> 태그 관련 이쪽 참조</a>-->

<div>
<form action="{% url 'sms:submit' %}" method="post">
    {% csrf_token %}
<!--    <p>-->
<!--    <label for="phone_number">phone_number: </label>-->
<!--&lt;!&ndash;  onkeypress="this.style.height = ((this.value.length + 1) * 8) + 'px';"&ndash;&gt;-->
<!--    <input id="phone_number" type="text" name="phone_number" value="{{ phone_number }}"-->
<!--            style="width:300px;height:200px;font-size:12px;"-->
<!--    >-->
<!--  </p>-->
<!--    <p>-->
<!--        <label for="name">name: </label>-->
<!--&lt;!&ndash;  onkeypress="this.style.height = ((this.value.length + 1) * 8) + 'px';"&ndash;&gt;-->
<!--    <input id="name" type="text" name="name" value="{{ name }}"-->
<!--            style="width:300px;height:200px;font-size:12px;"-->
<!--    >-->
<!--</p>-->

        <p>
        <label for="notice_title">notice_title: </label>
    <input id="notice_title" type="text" name="notice_title" value="{{ notice_title }}"
            style="width:300px;height:200px;font-size:12px;"
    >
</p>


        <p>
        <label for="notice_text">notice_text: </label>
<!--  onkeypress="this.style.height = ((this.value.length + 1) * 8) + 'px';"-->
    <input id="notice_text" type="text" name="notice_text" value="{{ notice_text }}"
            style="width:300px;height:200px;font-size:12px;"
    >
</p>

        <p>
        <label for="notice_id">notice_id: </label>
    <input id="notice_id" type="text" name="notice_id" value="{{ notice_id }}"
            style="width:300px;height:200px;font-size:12px;"
    >
</p>

           <p>
        <label for="notice_ps">notice_ps: </label>
    <input id="notice_ps" type="text" name="notice_ps" value="{{ notice_ps }}"
            style="width:300px;height:200px;font-size:12px;"
    >
</p>




    <select name="group" id ="group">
    <option value="전체">전체</option>
{% for i in kind %}

    <option value={{i}}>{{i}}</option>
{% endfor %}
</select>



    <input type="submit" value="OK">
</form>


        <form action="{% url 'sms:message_User_insert' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="file" type="file" name="file" value="file"  />
        <input id="submit" type="submit" value="Upload" />
        </form>




</div>


<!--{% if latest_question_list %}-->
<!--    <ul>-->
<!--    {% for question in latest_question_list %}-->
<!--      &lt;!&ndash; 하드코딩 버전 <li><a href="/sms/{{ question.id }}/">{{ question.question_text }}</a></li>&ndash;&gt;-->
<!--        &lt;!&ndash; 깔끔 버전 &ndash;&gt;  <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>No polls are available.</p>-->
<!--{% endif %}-->
</body>
</html>