<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>results</title>
</head>
<div>
<form action="{% url 'sms:submit' %}" method="post">
    {% csrf_token %}
        <p>
        <label for="id">id: </label>
    <input id="id" type="text" name="id" value="{{ id }}"
            style="width:300px;height:200px;font-size:12px;"
    >
</p>


        <p>
        <label for="ps">ps: </label>
<!--  onkeypress="this.style.height = ((this.value.length + 1) * 8) + 'px';"-->
    <input id="ps" type="text" name="ps" value="{{ ps }}"
            style="width:300px;height:200px;font-size:12px;"
    >
</p>
    <input type="submit" value="OK">
</form>
</div>

</body>
</html>