<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>아파트 공지 웹</title>

    <!-- Custom fonts for this template -->
   <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}"  rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
     <link href=	"{% static "css/sb-admin-2.min.css" %}"  rel="stylesheet">
</head>

<body id="page-top">

    <div class="card shadow">

		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary" style="font-size:200%"> >{{ title }}</h6>
		</div>
		<div class="card-body">
			<div class="text-center mb-4">

<!--				<img  src= "{% static "img/porsche-911-carrera-4s-side-view.jpg" %}"   width="100%" height="200" urlclass="porsche"/>-->
			</div>
			<div class="mb-4">
				<p>{{ message_User.user_name }} 님 {{ message.individual_notice_text }} .<p>
			</div>
			<!-- Divider -->
			<hr class="sidebar-divider mb-4">
			<div class="text-right">
				<small class="form-text">발신자 : {{ sender_id}}</small>
				<small class="form-text">발신일 : {{ date }}</small>
			</div>
		</div>

	</div>
	<div class="card">
		<div class="card-header h6 font-weight-bold text-gray-800">
			내 주변 쿠폰 혜택
		</div>
		<div class="card-body">
			<div class="card border-left-primary shadow h-100 py-2 mb-2">
				<div class="row">
					<div class="col mt-4 mb-4">
						<div class="text-xs font-weight-bold text-primary text-uppercase pl-4 mb-2">
							포르쉐 세종점
							<small>(거리 140m)</small>
						</div>

						<div class="h3 mb-0 bg-gradient-primary font-weight-bold text-gray-100 pt-2 pl-4 pb-2">
							911 카레라 4S  40% 할인
						</div>
					</div>
					<div class="col-auto mt-4" style="position:absolute; right:0">

						<img  src= "{% static "img/porsche-911-carrera-4s-side-view.jpg" %}"   width="75px" height="75px" urlclass="porsche"/>
					</div>
				</div>
			</div>
			
			<div class="card border-left-success shadow h-100 py-2 mb-2">
				<div class="row">
					<div class="col mt-4 mb-4">
						<div class="text-xs font-weight-bold text-success text-uppercase pl-4 mb-2">
							페라리 조치원점
							<small>(거리 520m)</small>
						</div>
						<div class="h6 mb-0 bg-gradient-success font-weight-bold text-gray-100 pt-2 pl-4 pb-2">
							488 스피이더 60%할인
						</div>
					</div>
					<div class="col-auto mt-4" style="position:absolute; right:0">
						<img  src= "{% static "img/Ferrari.jpg" %}"   width="75px" height="75px" urlclass="porsche"/>
					</div>
				</div>
			</div>
			
<!--			<div class="card border-left-warning shadow h-100 py-2 mb-2">-->
<!--				<div class="row">-->
<!--					<div class="col mt-4 mb-4">-->
<!--						<div class="text-xs font-weight-bold text-warning text-uppercase pl-4 mb-2">-->
<!--							포르쉐 세종점-->
<!--							<small>(거리 140m)</small>-->
<!--						</div>-->
<!--						<div class="h3 mb-0 bg-gradient-warning font-weight-bold text-gray-100 pt-2 pl-4 pb-2">-->
<!--							911 케라라 4S 할인 60%-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-auto mt-4" style="position:absolute; right:0">-->
<!--						<img width="75px" height="75px" class="img-thumbnail bg-login-image"/>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
			
<!--			<div class="card border-left-danger shadow h-100 py-2 mb-2">-->
<!--				<div class="row">-->
<!--					<div class="col mt-4 mb-4">-->
<!--						<div class="text-xs font-weight-bold text-danger text-uppercase pl-4 mb-2">-->
<!--							맛나꽈배기-->
<!--							<small>(거리 20m)</small>-->
<!--						</div>-->
<!--						<div class="h6 mb-0 bg-gradient-danger font-weight-bold text-gray-100 pt-2 pl-4 pb-2">-->
<!--							꽈배기 1000원 4개-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="col-auto mt-4" style="position:absolute; right:0">-->
<!--						<img width="75px" height="75px" class="img-thumbnail bg-register-image"/>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
		</div>
	</div>

    <!-- Bootstrap core JavaScript-->
     <script src="{% static "vendor/jquery/jquery.min.js" %}" ></script>
       <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}" ></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}" ></script>

    <!-- Custom scripts for all pages-->
      <script src="{% static "js/sb-admin-2.min.js" %}" ></script>
</body>

</html>